/*
------------------
Global
------------------
*/
@import url("/font/Satoshi_Complete/Fonts/WEB/css/satoshi.css");
:root {
  --orange-color: #f6673a;
  --orange-alt: #fdebe6;
  --gray-color: #515151;
  --gray-alt: rgb(135 137 138);
  --black-color: #010101;
  --background-color: #f7f7f7;
  --sec-padding: 70px;
  --main-transition: 0.3s;
  --border-color: #e0e0e0;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Satochi", "Roboto";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*
------------------
Repititive
------------------
*/

/*
------------------
My Framework
------------------
*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-2-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
/*
------------------
Animations
------------------
*/

/*
------------------
Header Section
------------------
*/
header {
  background-color: white;
  position: relative;
  box-shadow: var(--box-shadow);
}
header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .logo .name {
  font-size: 28px;
  color: var(--black-color);
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
/* @media (max-width: 767px) {
  header .logo .name {
    font-size: 22px;
    letter-spacing: 1px;
    margin-right: 20px;
  }
} */
header .logo .name span {
  display: inline-block;
  width: 25px;
  margin-right: 3px;
  height: 14px;
  /* background-color: transparent; may needed for dark mode*/
  border-radius: 7px;
  border: 4px solid var(--orange-color);
}
header .sections li:last-child {
  border: none;
}
header .sections li a {
  display: block;
  font-weight: 500;
  color: var(--orange-alt);
  color: black;
  padding: 0 20px;
  transition: var(--main-transition);
}
header .sections li a.active {
  color: var(--gray-color);
}
header .sections li a:hover {
  color: var(--gray-alt);
  transform: translatey(-1px);
}
header .icons {
  gap: 25px;
}
/* @media (max-width: 767px) {
  header .icons {
    position: absolute;
    z-index: 999;
    background-color: red;
    top: 70vh;
    left: 0;
  }
} */
header .icons .main-svg {
  width: 22px;
  color: var(--gray-color);
  transition: var(--main-transition);
}
/* @media (max-width: 767px) {
  header .icons .main-svg {
    width: 20px;
  }
} */
header .icons > a:hover span,
header .icons > a:hover svg {
  color: var(--gray-alt);
}
header .icons a {
  position: relative;
}
header .icons .cart::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  width: 14px;
  height: 14px;
  /* background-color: #ffc0ad; */
  background-color: var(--orange-color);
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold; */
  border: 2px solid white;
  transition: var(--main-transition);
  z-index: 2;
}
header .icons .cart:hover::before {
  background-color: #f57e5a;
}
header .icons .log-in {
  border-left: 1px solid var(--border-color);
  padding-left: 15px;
}
header .icons .log-in span {
  color: var(--gray-color);
  font-weight: 500;
  margin-right: 5px;
}
header .icons ul {
  display: none;
}
/*
------------------
landing Section
------------------
*/
.landing {
  padding-top: 120px;
  height: calc(100vh - 72px);
}
.landing .text h1 {
  color: var(--black-color);
  font-size: 110px;
  letter-spacing: 10px;
  margin-bottom: 25px;
}
@media (max-width: 1199px) {
  .landing .text h1 {
    font-size: 90px;
  }
}
@media (max-width: 991px) {
  .landing .text h1 {
    font-size: 60px;
  }
}
.landing .text h1 span {
  display: inline-block;
  width: 230px;
  margin-right: 10px;
  height: 55px;
  background-color: transparent;
  border-radius: 30px;
  border: 10px solid var(--orange-color);
}
@media (max-width: 1199px) {
  .landing .text h1 span {
    width: 190px;
    height: 45px;
  }
}
@media (max-width: 991px) {
  .landing .text h1 span {
    width: 144px;
    height: 30px;
    border-width: 8px;
  }
}
.landing .text h1 div {
  letter-spacing: -4px;
}
@media (max-width: 1199px) {
  .landing .text h1 div {
    letter-spacing: -3px;
  }
}
@media (max-width: 991px) {
  .landing .text h1 div {
    letter-spacing: 1px;
  }
}
.landing .text p {
  color: var(--gray-alt);
  display: inline-block;
  width: 50%;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .landing .text p {
    font-size: 14px;
  }
}
.landing .text button {
  border: none;
  color: white;
  background-color: var(--orange-color);
  padding: 16px 35px;
  border-radius: 40px;
  align-self: flex-start;
  transform: translateX(-80px);
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
  transition: var(--main-transition);
}
.landing .text button:hover {
  background-color: #f3734c;
  transform: translateX(-78px);
}
@media (max-width: 991px) {
  .landing .text button {
    font-size: 14px;
    padding: 10px 25px;
    align-self: flex-start;
    transform: translateX(-60px);
  }
}
@media (max-width: 991px) {
  .landing .text button:hover {
    transform: translateX(-58px);
  }
}

.landing .text .brand-rec {
  margin-top: 30px;
  height: 90px;
  width: fit-content;
  padding: 5px 40px 5px 5px;
  /* background-color: red; */
  border: 1px solid var(--border-color);
  border-radius: 50px;
}
@media (max-width: 991px) {
  .landing .text .brand-rec {
    height: 70px;
    padding-right: 10px;
  }
}
.landing .text .img-hold {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  justify-content: center;
  border: 1px solid var(--border-color);
}
@media (max-width: 991px) {
  .landing .text .img-hold {
    height: 60px;
    width: 60px;
  }
}
.landing .text .img-hold:nth-child(2) {
  transform: translateX(-40px);
}
.landing .text .brand-rec .text {
  transform: translateX(-20px);
  color: var(--gray-alt);
}
.landing .text .brand-rec img {
  width: 65px;
}
@media (max-width: 991px) {
  .landing .text .brand-rec img {
    width: 50px;
  }
}
.landing .img-part {
  position: relative;
}
.landing .img-part .back {
  background-color: var(--orange-alt);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: relative;
  left: 50px;
  transform: translateY(100px);
}
@media (max-width: 1199px) {
  .landing .img-part .back {
    width: 400px;
    height: 400px;
    top: -20px;
  }
}
@media (max-width: 991px) {
  .landing .img-part .back {
    width: 350px;
    height: 350px;
    top: -50px;
  }
}
.landing .img-part img {
  width: 800px;
  transform: translatex(-280px) translatey(-40px) rotate(-30deg);
  transition: var(--main-transition);
}
@media (max-width: 1199px) {
  .landing .img-part img {
    width: 750px;
  }
}
@media (max-width: 991px) {
  .landing .img-part img {
    width: 600px;
    transform: translatex(-220px) translatey(-40px) rotate(-30deg);
  }
}
.landing .img-part .popup {
  position: absolute;
  top: 200px;
  right: 195px;
  z-index: 1;
  color: var(--gray-color);
  background-color: white;
  border: 1px solid var(--border-color);
  padding: 8px 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--main-transition);
}
.landing .img-part .popup:hover {
  border-color: var(--orange-color);
  padding: 5px 16px;
  border-bottom-right-radius: 0;
}
.landing .img-part .popup:nth-child(3) {
  top: 420px;
  right: 50px;
}
.landing .img-part .popup:nth-child(4) {
  top: 510px;
  right: 580px;
  transform: rotatey(180deg);
  text-wrap: nowrap;
}
@media (max-width: 1199px) {
  .landing .img-part .popup {
    right: 140px;
  }
  .landing .img-part .popup:nth-child(3) {
    top: 410px;
  }
  .landing .img-part .popup:nth-child(4) {
    right: 500px;
    top: 480px;
  }
}
@media (max-width: 991px) {
  .landing .img-part .popup {
    top: 140px;
    right: 45px;
    padding: 8px 14px;
    border-radius: 25px;
  }
  .landing .img-part .popup:nth-child(3) {
    top: 310px;
    right: 0px;
  }
  .landing .img-part .popup:nth-child(4) {
    top: 350px;
    right: 370px;
  }
}
.landing .img-part .popup .rec {
  font-size: 14px;
}
.landing .img-part .popup .rec:hover {
  color: var(--gray-alt);
}
.landing .img-part .popup:nth-child(4) .rec {
  transform: rotatey(180deg);
}
@media (max-width: 1199px) {
  .landing .img-part .popup .rec {
    font-size: 12px;
  }
}
.landing .img-part .popup .circle {
  position: absolute;
  top: -23px;
  left: -26px;
  background-color: white;
  border: 1px solid var(--border-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-bottom-right-radius: 0;
}
.landing .img-part .popup .circle::before {
  content: "";
  right: 9px;
  top: 10px;
  transform: translate(7.5px, -7.5px);
  width: 10px;
  height: 10px;
  background-color: var(--orange-color);
  z-index: 2;
  position: absolute;
  border-radius: 50%;
}
.landing .img-part .popup svg {
  position: absolute;
  top: 5px;
  left: -7px;
  width: 46px;
  transform: rotateX(180deg) rotate(-30deg);
}
/*
------------------
Trending Section
------------------
*/
.trending {
  padding-bottom: 100px;
}
.trending .header {
  padding-bottom: 30px;
}
.trending h2 {
  font-size: 34px;
  color: var(--gray-color);
}
.trending .header .change {
  gap: 15px;
}
.trending .header .change span {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orange-color);
}
.trending .change .back {
  background-color: var(--orange-alt);
  color: var(--orange-color);
}
.trending .change .next {
  background-color: var(--orange-color);
  color: white;
}
.trending .cards {
  gap: 20px;
}
.trending .card {
  border-top-right-radius: 8%;
  border-top-left-radius: 8%;
  overflow: hidden;
  flex-grow: 1;
}
.trending .img-holder {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  margin-bottom: 20px;
  transition: var(--main-transition);
}
.trending .card:hover .img-holder {
  transform: scale(1.1);
}
.trending .cards .card:nth-child(2) img {
  width: 140px;
}
.trending img {
  width: 160px;
  transform: rotate(-25deg) translateX(-10px);
  transition: var(--main-transition);
}
.trending .card:hover img {
  transform: rotate(-20deg) translateX(-14px) scale(1.05);
}
.trending .card {
  position: relative;
}
.trending .card::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  top: 15px;
  right: 15px;
}
.trending .card::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  color: var(--gray-color);
  position: absolute;
  width: 22px;
  height: 22px;
  top: 18px;
  right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending .card:first-child:after {
  font-weight: 900;
  color: var(--orange-color);
}
.trending .card i {
  color: #e78918;
}
.trending .card .reviews span {
  font-size: 12px;
  color: var(--gray-alt);
  margin-left: 5px;
}
.trending .card .name {
  font-weight: 500;
  color: var(--gray-color);
  margin-top: 5px;
}
.trending .card .pricing {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.trending .card .pricing .price {
  font-weight: bold;
  color: var(--gray-color);
}
.trending .card .pricing .sold {
  font-size: 12px;
  color: var(--gray-alt);
  margin-left: 15px;
}
.trending .card .cart {
  position: absolute;
  background-color: var(--orange-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending .card .cart svg {
  width: 18px;
  height: 18px;
  color: white;
}
/*
------------------
Collection Section
------------------
*/
.collection {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
.collection .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.collection .heading {
  margin-bottom: 40px;
}
.collection h2 {
  font-size: 50px;
}
.collection .change {
  gap: 15px;
  align-self: end;
}
.collection .change span {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orange-color);
  cursor: pointer;
}
.collection .change .back {
  background-color: var(--orange-alt);
  color: var(--orange-color);
}
.collection .change .next {
  background-color: var(--orange-color);
  color: white;
}
.collection .img-holder {
  background-image: url(../imgs/col1.png);
  background-size: cover;
  min-height: 350px;
  max-height: 400px;
  border-radius: 15px;
}
.collection .col:last-child .img-holder {
  background-image: url(../imgs/col2.png);
}
.collection p {
  margin-top: 20px;
  color: var(--gray-alt);
  margin-bottom: 20px;
  font-weight: 500;
}
.collection button {
  border: none;
  color: white;
  background-color: white;
  padding: 14px 28px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
}
.collection button:hover {
  background-color: var(--orange-color);
  color: white;
  transform: translatey(3px);
}
/*
------------------
Best Seller Section
------------------
*/
.best {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
.best .heading h2 {
  font-size: 50px;
}
.best .change {
  gap: 15px;
  align-self: end;
}
.best .change span {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orange-color);
  cursor: pointer;
}
.best .change .back {
  background-color: var(--orange-alt);
  color: var(--orange-color);
}
.best .change .next {
  background-color: var(--orange-color);
  color: white;
}
.best .gallary {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.best .gallary .col {
  flex-basis: 49%;
}
.best .gallary .col:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 20px;
}
.best .gallary .col:first-child img {
  width: 100%;
  border-radius: 16px;
}
.best .gallary .col:last-child img {
  width: 100%;
  /* height: calc(100% - 69px); */
  border-radius: 16px;
}
.best .card .name {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-color);
  margin: 12px 0;
}
.best .card .pricing {
  display: flex;
  align-items: center;
}
.best .card .pricing .prev {
  color: var(--gray-alt);
  text-decoration: line-through;
  font-weight: 500;
}
.best .card .pricing .curr {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: var(--orange-color);
}
/*
------------------
Technology Section
------------------
*/
.tech {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
.tech h2 {
  font-size: 20px;
  letter-spacing: 3px;
  color: var(--gray-color);
  margin: 20px auto;
  width: fit-content;
  font-weight: 500;
}
.tech h3 {
  font-size: 50px;
  letter-spacing: 1px;
  margin: auto;
  width: fit-content;
}
.tech .imgs {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.tech img {
  width: 32%;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}
/*
------------------
Choose Section
------------------
*/
.choose {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
.choose .container {
  display: flex;
  gap: 20px;
}
.choose .col {
  position: relative;
  width: 49%;
}
.choose h2 {
  font-size: 50px;
}
.choose p {
  font-weight: 500;
  color: var(--gray-alt);
  margin: 30px 0;
  line-height: 1.5;
}
.choose .col:last-child .shoes {
  position: absolute;
  left: 0;
  bottom: 0;
}
.choose img {
  width: 100%;
  border-radius: 12px;
}
.choose .change {
  gap: 10px;
  align-self: end;
  position: absolute;
  bottom: 16px;
  right: 10px;
}
.choose .change span {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orange-color);
  cursor: pointer;
}
.choose .change .back {
  background-color: var(--orange-alt);
  color: var(--orange-color);
}
.choose .change .next {
  background-color: var(--orange-color);
  color: white;
}
.choose button {
  position: relative;
  border: none;
  color: white;
  background-color: white;
  padding: 14px 28px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
}
.choose button:hover {
  background-color: var(--orange-color);
  color: white;
  transform: translatey(3px);
}
.choose .arrow {
  position: absolute;
  width: 150px;
  top: 50px;
  left: 100%;
}
/*
------------------
Footer
------------------
*/
footer {
  background-color: #141213;
  padding-top: var(--sec-padding);
  padding-bottom: 30px;
  color: white;
}
footer .container {
  display: flex;
}
footer .left {
  width: 65%;
  border: solid 1px var(--gray-color);
  border-left: none;
}
footer h1 {
  font-size: 90px;
  letter-spacing: 5px;
  margin: 70px 0;
}
footer .left a {
  color: var(--orange-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
}
footer a i {
  margin-left: 10px;
}
footer .right {
  border: solid 1px var(--gray-color);
  border-right: none;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
}
footer .right .sections {
  flex-direction: column;
  display: flex;
  gap: 20px;
}
footer .sections a {
  color: var(--gray-alt);
}
footer .right .social {
  display: flex;
  gap: 20px;
}
footer .right .social li {
  border: 1px solid var(--gray-alt);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
footer .social li i {
  font-size: 12px;
}
footer .logo .name {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
footer .logo .name span {
  display: inline-block;
  width: 25px;
  margin-right: 3px;
  height: 14px;
  /* background-color: transparent; may needed for dark mode*/
  border-radius: 7px;
  border: 4px solid var(--orange-color);
}
footer .copy {
  margin: 30px auto 0;
  width: fit-content;
  color: var(--gray-alt);
  font-weight: 500;
}
